#imgcontainer {
    position: relative;
    text-align: center;
}

#bg {
  width: 100%;
  height: calc(100vh - var(--nextui--navbarHeight));
  object-fit: cover;
  
}
#imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reviewcontainer {
    transition: 1000ms;
    margin: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    background-color: rgba(131, 131, 131, 0.068);
    border-radius: var(--nextui-radii-lg);
    border-color: aliceblue;
    box-shadow: 0 0 2px #838383;
}

.maincontainer {
    text-align: center;
}

.reviewtext {
    display: none;
}

img {
    width: 40px;
    height: auto;
}

@media screen and (max-width: 550px) {
    #reviewcontainer {
        margin: 0rem;
        margin-bottom: 2rem;
        margin-top: 0rem;
        border-radius: 0px;
        background-color: rgba(131, 131, 131, 0.11);
        box-shadow: 0 0 0 #ffffff00;
    }
}